/* - Slide In/Out -*/

ul:nth-of-type(2) {
	z-index: 3;
    
    img {
        .animation-timing-function(ease);
        .animation-iteration-count(infinite);
        .animation-duration(14s);
	   position: relative;
    }
    
    li:nth-of-type(1) img { 
        .animation-name(slideOne);
        left: 0;
    }

    li:nth-of-type(2) img {
        .animation-name(slideTwo);
        left: 100%;
    }

    li:nth-of-type(3) img {
        .animation-name(slideThree);
        left: 100%;
    }
}

ul:last-of-type {
	background-color: transparent;
	box-shadow: none;
	display: inline-block;
	margin: 0;
	position: relative;
}

ul:last-of-type li {
    .animation-timing-function(ease);
    .animation-iteration-count(infinite);
    .animation-duration(16s);
		
    background: #fff;
	box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px;
	display: inline-block;
	left: 0;
	margin: 0;
	padding: 1.5%;
	top: 0;
}
	
ul:last-of-type li:nth-of-type(1) {
    .animation-name(fallThree);	
    top: 2%;
	-webkit-transform: rotate(-1deg);
	-moz-transform: rotate(-1deg);
	transform: rotate(-1deg);
}
	
ul:last-of-type li:nth-of-type(2) {
    .animation-name(fallTwo);
	top: 2%;
	-webkit-transform: rotate(1.5deg);
	-moz-transform: rotate(1.5deg);
	transform: rotate(1.5deg);
}
	
ul:last-of-type li:nth-of-type(3) {
    .animation-name(fallOne);
	top: 1%;
}